[submodule "sda"]
	path = sda
	url = https://github.com/shonenm/sda.git
	branch = master
# [submodule "ibpm"]
# 	path = ibpm
# 	url = https://github.com/cwrowley/ibpm.git
[submodule "appa"]
	path = appa
	url = git@github.com:shonenm/appa.git
